body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#clock {
  font-size: 10em;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 0.5em #000;
}

#todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-form h2 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 0.5em #000;
}

#todo-form input {
  width: 36em;
  height: 2.4em;
  background: transparent;
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: none;
  text-align: center;
}

#todo-form input::placeholder {
  color: #fff;
  text-shadow: 0 0 0.5em #000;
}

#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#todo-list li {
  list-style-type: none;
  width: 32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-list span {
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 0.5em #000;
}

#todo-list button {
  width: 2em;
  height: 2em;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0.5em;
  outline: none;
  cursor: pointer;
}

#weather {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 0.5em #000;
}

#quote {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 1rem;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 0.5em #000;
}
